/*
Theme Name: Personal Calendar
Theme URI: http://timelord.nl
Description: Personal Calendar theme for the Twenty Sixteen theme and cp-multi-view-calendar plugin
Author: Marcel Pol
Author URI: https://timelord.nl
Template: twentysixteen
Version: 0.1.20180519
*/

@import url('../twentysixteen/style.css');


.no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets {
	margin: 0;
}

#page.site {
	margin: 16px 21px;
}

#content.site-content {
	padding: 0;
}

#main.site-main {
	margin-bottom: 0;
}

div#multicalendar {
	background-color: #888;
	border: none;
}
/* Top buttons */
div#multicalendar div.ctoolbar div.fbutton {
	background-color: #aaa;
	border-color: #666;
	padding: 5px 10px;
	height: 34px;
}
/* Popup buttons, no workies, because of iframe. */
div#bbit-cal-AddBTN,
div.infocontainer a.ui-button,
#popup_ok,
#popup_cancel {
	background-color: #aaa;
	border-color: #666;
	padding: 5px 10px;
}
div#multicalendar div.ctoolbar div.fbutton span,
div#multicalendar div.ctoolbar div.fshowdatep span {
	font-size: 14px;
	line-height: 20px;
}
div#multicalendar div.ctoolbar div.fshowdatep {
	height: 34px;
	padding: 5px 10px;
}

div#multicalendar .fbutton.ui-state-active {
	background-color: #888;
	border-color: #555;
	padding: 5px;
}

html body #multicalendar div.rb-o {
	border-width: 0;
}
html body #multicalendar div.rb-m {
	margin:0;
	padding: 1px;
	border-radius: 3px;
	border-width: 0;
}

html body #multicalendar div.rb-i.t-title {
	padding: 6px;
	background-color: #444;
	white-space: normal !important;
	width: 97%;
	margin-left: 3%;
	border-radius: 3px;
}

html body #multicalendar div.gridcontainercover {
	border: none;
}
